{#include base.html}
{#title}{books.size} Books{/title}
{#body}
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Isbn</th>
    <th scope="col">n° Pages</th>
    <th scope="col">Price</th>
    <th scope="col">Language</th>
    <th scope="col">Artist</th>
  </tr>
  </thead>
  <tbody>
  {#for book in books}
  <tr>
    <th scope="row"><a href="http://localhost:8080/page/items/books/{book.id}">{book.id}</a></th>
    <td>{book.title}</td>
    <td>{book.isbn}</td>
    <td>{book.nbOfPages}</td>
    <td>{book.price}</td>
    <td>{book.language}</td>
    <td><a href="http://localhost:8080/page/artists/{book.artist.id}">{book.artist.name}</a></td>
  </tr>
  {/for}
  </tbody>
</table>
{/body}
{/include}
