{#include base.html}
{#title}{artists.size} Artists{/title}
{#body}
<code>Artist.find({data:query}, Sort.by({data:sort})).page({data:pageIndex}, {data:pageSize}).list()</code>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  {#for artist in artists}
  <tr>
    <th scope="row"><a href="http://localhost:8080/api/artists/show/{artist.id}">{artist.id}</a></th>
    <td>{artist.name}</td>
  </tr>
  {/for}
  </tbody>
</table>
{/body}
{/include}

