{#include base.html}
{#title}{publishers.size} Publishers{/title}
{#body}
<code>Publisher.find({data:query}, Sort.by({data:sort})).page({data:pageIndex}, {data:pageSize}).list()</code>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  {#for publisher in publishers}
  <tr>
    <th scope="row"><a href="http://localhost:8080/api/publishers/{publisher.id}">{publisher.id}</a></th>
    <td>{publisher.name}</td>
  </tr>
  {/for}
  </tbody>
</table>
{/body}
{/include}

